<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pixir.Not.Data.Properties.Settings.ManualPersonaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ManualPersona;User ID=sa;Password=Osvaldo1797"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>